.resume {
    font-family: "Arial";
    font-weight: 300;
}

header {
    padding: 60px 50px 25px 60px;
}

.name {
    color: #313c4e;
    font-size: 60px;
    font-weight: 500;
}

.title {
    color: #696969;
    font-size: 30px;
}

.info-line {
    border-top: 1px solid #969994;
    border-bottom: 1px solid #969994;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    background-color: #fcfcff;
}

.info {
    font-size: 24px;
    color: black;
}

.section {
    padding: 10px 70px 0;
    color: #313c4e;
}

.section-header {
    font-size: 40px;
    font-weight: 500;
    margin-left: -10px;
}

.spaced-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project {
    margin-top: 9px;
}

.experience {
    margin-top: 9px;
}

.skill-holder {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(180px, max-content));
    margin-left: -10px;
    margin-top: 7px;
}

.skill {
    font-weight: 400;
    font-size: 18px;
    padding-left: 40px;
}

.bullet {
    position: absolute;
    margin-left: -20px;
    background-color: black;
    width: 6px;
    height: 6px;
    margin-top: 7px;
}

.degree {
    color: black;
    font-size: 25px;
    font-weight: 500;
}

.school {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
}

.position {
    color: black;
    font-size: 25px;
    font-weight: 500;
}

.company {
    font-size: 20px;
    font-weight: 300;
}

.action {
    margin-left: 30px;
    font-size: 17px;
    margin-top: 4px;
}

.duration {
    color: black;
    font-size: 18px;
    font-weight: 300;
}