.portfolio {
    font-family: "Times New Roman", sans-serif;
}

header {
    padding: 44px 50px 0;
    width: 100%;
}

.name {
    color: black;
    font-size: 50px;
    text-align: center;
}

.title {
    display: none;
}

.info-line {
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.info {
    font-size: 24px;
    padding: 0 10px;
}

.section {
    padding: 20px 50px 0;
    color: black;
    margin-bottom: 10px;
}

.section-header {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.skill-holder {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill {
    display: list-item;
    min-width: 200px;
    font-weight: 100;
    margin-left: 20px;
    margin-right: 8px;
}