.app {
    min-height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
}

.resume {
    width: 1152px;
    height: 1629px;
    background-color: white;
}

.resume-holder {
    margin: 5vh auto;
    box-shadow: 30px 30px 0 #313c4e;
}